<!DOCTYPE html>
<html>
<head>
    <title>Employee Management System</title>
</head>
<body>
    <div>
        <h1>Employee Management System</h1>
        <div>
            <a href="/employee_list">Employee List</a> |
            <a href="/add_employee">Add Employee</a>
            <a href="/department_list">Department List</a>
            <a href="/add_department">Add Department</a>
            <a href="/salary_list">Salary List</a>
            <a href="/add_salary">Add Salary</a>
     
        </div>
    </div>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
